<div class="well" style="padding:18px;">

  <h4 style="margin-top:0; margin-bottom:12px;">News</h4>

  {% assign sorted_news = site.data.news | sort: "sort_date" | reverse %}

  <ul style="padding-left: 18px; margin: 0 0 12px 0; line-height: 1.45;">
    {% for article in sorted_news %}
      <li style="margin-bottom:12px;">
        <em>{{ article.date }}</em><br />
        {{ article.headline }}
      </li>
    {% endfor %}
  </ul>

  <p style="margin:0;">
    <a href="{{ '/allnews.html' | relative_url }}">See all news</a>
  </p>

</div>
